.bigbox{
  width: 320px;
  height: 320px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  margin-top: 200px;
  padding: 10px;
  border-radius: 5px;
}
.bigboxwin{
  background-color: rgb(28, 242, 28) !important;
  
}
.box{
  width: 98px;
  height: 98px;
  background: rgb(180, 196, 196);
  border: solid 1px rgb(101, 48, 237);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  color: black;
  font-size: 70px;
  line-height: 98px;
}
.btn{
  width: 150px;
  height: 50px;
  background: rgb(101, 48, 237);
  color: #fbf9f6;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 30px;
  border-radius: 10px;
  cursor: pointer;
}